.fresh-lawn{
  background-color: #83A603;
}
.winter-morn{
  background-color: #D8D9D7;
  color: black;
}

.midas-finger-gold{
  background-color: #F2B705;
}

.rowdy-orange{
  background-color: #F29F05;
}

.christmas-orange{
  background-color: #D96A29;
}